* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    scrollbar-width: none;
  }
  
  .the-issue {
    padding: 0 32px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: url("img/annie-spratt-427339-unsplash.png") 0% 0%
      no-repeat padding-box;
    background-size: cover;
  
    & .stop-cc {
      width: 30%;
      height: 136px;
      text-align: left;
      font: normal normal normal 44px/46px Flood Std;
      letter-spacing: 0px;
      color: #ffffff;
    }
  
    & .issue-body {
      height: 264px;
      width: 100%px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  
      & .issue-title {
        width: 50%;
        height: 40px;
        background-color: #354463;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 20px;
  
        & .issue-text {
          text-align: center;
          font: normal normal normal 14px/17px Helvetica;
          letter-spacing: 0.56px;
          color: #ffffff;
        }
      }
  
      & .issue-content {
        /* width: 248px; */
        height: 200px;
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
      }
    }
  }
  
  .mission-div {
    padding: 0 32px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #354463;
    height: 1200px;
    width: 100%;
    gap: 3%;
  
    & .mission-head {
      width: 40%;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
  
      & .mission-text {
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
      }
    }
  
    & .mission-title {
      width: 100%;
      height: 134px;
      text-align: center;
      font: normal normal bold 22px/28px Helvetica;
      letter-spacing: 0px;
      color: #ffffff;
    }
  
    .mission-icon-grid {
      width: 100%;
      height: 75%;
      display: grid;
      grid-gap: 3%;
      /* place-items: flex-start; */
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
  
      & .mission-icon-grid-content {
        & .icons {
          & .img {
            border: 1px solid #c1f7d5;
          }
        }
  
        & .icon-title {
          text-align: left;
          font: normal normal bold 16px/20px Helvetica;
          letter-spacing: 0px;
          color: #ffffff;
        }
  
        & .icon-content {
          text-align: left;
          font: normal normal 300 14px/20px Helvetica;
          letter-spacing: -0.14px;
          color: #ffffff;
        }
      }
    }
  }
  
  .our-team {
    padding: 0 32px;
    height: 999px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    & .team-head {
      background-color: #354463;
      width: 40%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      & .team-text {
        color: #ffffff;
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #ffffff;
      }
    }
  
    & .team-title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: #354463;
      gap: 0;
  
      & .team-title-P1 {
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
      }
  
      & .team-title-P2 {
        text-align: center;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
      }
    }
  
    & .team-img-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      place-content: center;
      gap: 2%;
      height: 70%;
  
      & .team-img {
        width: 100%;
        height: 100%;
  
        & .img-name {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #354463;
          text-align: center;
          font: normal normal 300 14px/20px Helvetica;
          letter-spacing: -0.14px;
          color: #ffffff;
        }
  
        & .image {
          width: 100%;
          height: 70%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  
  .impact-div {
    padding: 0 32px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("img/annie-spratt-427339-unsplash.png");
    background-size: cover;
  
    & .impact-head {
      padding: 0 32px;
      width: 40%;
      height: 40px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
  
      & .impact-text {
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
      }
    }
  
    & .impact-title {
      text-align: center;
      font: normal normal bold 22px/28px Helvetica;
      letter-spacing: 0px;
      color: #ffffff;
    }
  
    & .impact-grid {
      height: 70%;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
  
      & .impact-grid-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        & .impact-grid-content-head {
          text-align: center;
          font: normal normal normal 44px/46px Flood Std;
          letter-spacing: 0px;
          color: #ffffff;
        }
  
        & .impact-grid-content-body {
          width: 60%;
          text-align: center;
          font: normal normal bold 16px/20px Helvetica;
          letter-spacing: 0px;
          color: #ffffff;
        }
      }
    }
  }
  
  .letsTakeActionDiv {
    padding: 0 32px;
    height: 1000px;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    .letsTakeActionText {
      display: flex;
      height: 20%;
      width: 80%;
      color: #ffffff;
      font: normal normal normal 44px/46px Flood Std;
  
      .arrow {
        display: none;
      }
    }
  
    .letsTakeActionSlider {
      width: 95%;
      height: 70%;
  
      .slider {
        /* background-color: #ffffff; */
        display: flex;
        width: 100%;
        height: 90%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
  
        .sliderGrid {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          flex: 1 0 100%;
  
          scroll-snap-align: start;
          object-fit: cover;
  
          .sliderTitle {
            background-color: #ffffff;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5%;
            width: 40%;
            position: relative;
            top: 2%;
            text-align: center;
            font: normal normal normal 14px/17px Helvetica;
            letter-spacing: 0.56px;
            color: #354463;
          }
  
          .nonTitlePart {
            background-color: #ffffff;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
  
            & .sliderImg {
              width: 100%;
              height: 35%;
              background: url("img/Image.png");
              background-size: cover;
              background-repeat: no-repeat;
              display: flex;
              justify-content: flex-end;
              align-items: center;
  
              .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: #c1f7d5 0% 0% no-repeat padding-box;
              }
            }
  
            .sliderImgTitle {
              width: 90%;
              height: 20%;
              text-align: center;
              font: normal normal bold 22px/28px Helvetica;
              letter-spacing: 0px;
              color: #354463;
            }
  
            .sliderImgTexts {
              height: 20%;
              width: 80%;
              color: #354463;
            }
  
            .readMore {
              padding-bottom: 15%;
              height: 8%;
              width: 50%;
              padding-bottom: 32px;
              background: #c1f7d5 0% 0% no-repeat padding-box;
              border-radius: 100px;
              text-align: center;
              font: normal normal bold 18px/22px Helvetica;
              letter-spacing: 0px;
              color: #354463;
            }
          }
        }
      }
      .sliderNav {
        padding-top: 10px;
        display: flex;
        column-gap: 5%;
        position: absolute;
        left: 50%;
        bottom: 1.25 rem;
        transform: translateX(-50%);
        z-index: 1;
      }
  
      .sliderNav a {
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 50%;
      }
    }
  }
  
  @media (min-width: 768px) {
    .issue-div {
      height: 608px;
  
      & .stop-cc {
        width: 20%;
      }
  
      & .issue-body {
        padding: 0 32px;
        align-items: flex-start;
  
        & .issue-title {
          width: 20%;
        }
  
        & .issue-content {
          padding: 32px;
          text-align: left;
          height: 264px;
          font: normal normal bold 28px/36px Helvetica;
        }
      }
    }
  
    .mission-div {
      height: 900px;
      justify-content: flex-start;
      align-items: flex-start;
  
      & .mission-head {
        width: 28%;
        height: 40px;
      }
  
      & .mission-title {
        text-align: left;
      }
  
      .mission-icon-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    }
  
    .our-team {
      height: 1400px;
      align-items: flex-start;
      padding-left: 96px;
      padding-right: 32px;
  
      & .team-title {
        flex-direction: row;
        align-content: flex-start;
        gap: 5%;
  
        & .team-title-P1 {
          text-align: left;
          font: normal normal bold 36px/46px Helvetica;
        }
  
        & .team-title-P2 {
          text-align: left;
          font: normal normal 300 16px/24px Helvetica;
          letter-spacing: -0.16px;
        }
      }
  
      & .team-img-grid {
        height: 70%;
  
        & .team-img {
          height: 90%;
  
          & .img-name {
            text-align: center;
            position: relative;
            bottom: 8%;
            left: 10%;
            height: 15%;
            width: 85%;
          }
  
          & .image {
            height: 90%;
            width: 85%;
          }
        }
      }
    }
  
    .impact-div {
      height: 600px;
  
      & .impact-head {
        width: 25%;
      }
  
      & .impact-title {
        font: normal normal bold 36px/46px Helvetica;
      }
  
      & .impact-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }
  
    .letsTakeActionDiv {
      padding: 0 32px;
      height: 1000px;
      align-items: flex-start;
  
      .letsTakeActionText {
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10%;
  
        & .arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 94px;
          height: 94px;
          border-radius: 50%;
          background: #c1f7d5 0% 0% no-repeat padding-box;
        }
      }
  
      .letsTakeActionSlider {
        height: 80%;
  
        & .slider {
          gap: 5%;
  
          & .sliderGrid {
            flex: 1 0 35%;
            & .nonTitlePart {
              & .sliderImg {
                & .arrow {
                  display: none;
                }
              }
            }
          }
        }
  
        .sliderNav {
          display: none;
        }
      }
    }
  }
  
  @media (min-width: 996px) {
    .issue-div {
      height: 400px;
      flex-direction: row;
      align-items: center;
  
      & .stop-cc {
        height: 224px;
      }
  
      & .issue-body {
        height: 336px;
        width: 55%;
        position: relative;
        top: 25%;
        left: 5%;
  
        & .issue-title {
          width: 30%;
        }
      }
    }
  
    .mission-div {
      padding: 80px;
  
      & .missionIconGrid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }
  
    .our-team {
      padding-left: 64px;
      padding-right: 32px;
      height: 1300px;
  
      & .team-head {
        width: 15%;
      }
      & .team-img-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }
  
    .impact-div {
      height: 550px;
  
      & .impact-grid {
        height: 40%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
      }
    }
  
    .letsTakeActionDiv {
      height: 900px;
      padding-right: 0px;
  
      & .letsTakeActionText {
        padding-left: 64px;
        width: 95%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10%;
  
        & .arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: #c1f7d5 0% 0% no-repeat padding-box;
        }
      }
  
      & .letsTakeActionSlider {
        height: 80%;
        width: 100%;
        padding-left: 0;
        gap: 5%;
  
        & .slider {
          & .sliderGrid {
            width: 100%;
  
            & .sliderTitle {
              width: 25%;
              right: 18%;
            }
  
            & .nonTitlePart {
              width: 80%;
  
              & .sliderImg {
                height: 50%;
  
                & .arrow {
                  display: none;
                }
              }
  
              & .sliderImgTitle {
                height: 10%;
                width: 80%;
              }
  
              & .sliderImgTexts {
                height: 10%;
                width: 60%;
              }
  
              & .readMore {
                height: 5%;
              }
            }
          }
        }
      }
    }
  }