* {
    margin: 0;

    width: 100%;
}

body {
    background-color: #354463;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & span {
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
}

.give-hope {
    position: absolute;
    top: 79px;
    left: 0px;
    height: 985px;
    width: 100%;
    background: url('img/annie-spratt-427340-unsplash.png') 0% 0% no-repeat padding-box;
    opacity: 63%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    & .quotation {
        top: 112px;
        left: 32px;
        width: 312px;
        height: 79px;
        text-align: center;
        font: normal normal normal 32px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    & .form-container {
        width: 312px;
        height: 60%;
        background: #354463 0% 0% no-repeat padding-box;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
    }

}

.form-container .form-head {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.give-hope label {
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    opacity: 1;
    padding: 2%;
}

.give-hope input::placeholder {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    opacity: 0.2;
}

.give-hope input {
    background: none;
    border: none;
    border-bottom: solid 2px #C1F7D5;

}

.name input {
    width: 80%;
}

.add input {
    width: 80%;
}


.name,
.add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

select {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #C1F7D5;
    opacity: 1;
    background: none;
    border: none;
    width: 80%;
    border-bottom: solid 2px #C1F7D5;
}

.your-info,
.pay-info,
.submit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card input {
    width: 80%;
}

.card {
    display: flex;
}

#exp {
    display: inline;
}

.submit button {
    top: 912px;
    left: 64px;
    width: 249px;
    height: 49px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

footer {
    overflow: hidden;
    position: absolute;
    top: 1064px;
    left: 0px;
    width: 100%;
    height: 600px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

footer div {
    padding-left: 20px;
    padding-top: 20px;
}



.green {
    padding-top: 20px;
    padding-left: 20px;
    
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.head {
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.contact-us {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

footer a {
    /* UI Properties */
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.stop {
    
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    grid-area: 3/2;
}



@media (min-width: 768px) {



    .give-hope {

        & .form-container {
            width: 640px;

            background: #354463 0% 0% no-repeat padding-box;
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5%;
        }

    }


    .your-info,
    .pay-info,
    .submit {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .buttons {
        display: flex;
        flex-direction: row-reverse;

    }

    .a {
        align-self: center;
    }



    footer {
        overflow: hidden;
        position: absolute;
        top: 1064px;
        left: 0px;
        width: 100%;
        height: 432px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    footer div {
        padding-left: 20px;
        padding-top: 20px;
    }

    .stop {
        
        grid-area: 2/3/3/3;
        justify-self: start;
        align-self: start;
    }


    .learn-more {
        grid-area: 2/2;
    }
}

@media (min-width: 992px) {
    body {
        background-color: #354463;
    }

    header {
        width: 100%;
        height: 120px;

        & span {
            font: normal normal bold 28px/36px Helvetica;
        }
    }



    .give-hope {
        position: absolute;
        top: 120px;
        left: 0px;
        width: 100%;
        height: 1224px;
        background: url('img/annie-spratt-427340-unsplash.png') 0% 0% no-repeat padding-box;
        opacity: 63%;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;



        & .quotation {
            top: 200px;
            left: 896px;
            width: 384px;
            height: 362px;
            text-align: left;
            font: normal normal normal 72px/76px Flood Std;
            letter-spacing: 0px;
            color: #FFFFFF;
            padding-top: 50px;
            align-self: flex-start;
        }

        & .form-container {
            top: 200px;
            left: 160px;
            width: 500px;
            height: 70%;
            background: #354463 0% 0% no-repeat padding-box;
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5%;
        }

    }

    .form-container .form-head {
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .give-hope label {
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.44px;
        color: #FFFFFF;
        opacity: 1;
        padding: 2%;
    }

    .give-hope input::placeholder {
        text-align: left;
        font: normal normal 300 20px/32px Helvetica;
        letter-spacing: -0.16px;
        color: #FFFFFF;
        opacity: 0.2;
    }

    .give-hope input {
        background: none;
        border: none;
        border-bottom: solid 2px #C1F7D5;

    }

    .name input {
        width: 80%;
    }

    .add input {
        width: 80%;
    }


    .name,
    .add {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    select {
        text-align: left;
        font: normal normal 300 20px/32px Helvetica;
        letter-spacing: -0.16px;
        color: #C1F7D5;
        opacity: 1;
        background: none;
        border: none;
        width: 80%;
        border-bottom: solid 2px #C1F7D5;
    }

    .your-info,
    .pay-info,
    .submit {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .card input {
        width: 80%;
    }

    .card {
        display: flex;
    }

    #exp {
        display: inline;
    }

    .submit button {
        top: 1090px;
        left: 480px;
        width: 256px;
        height: 56px;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }

    .conform {
        top: 956px;
        left: 224px;
        width: 512px;
        height: 89px;
    }

    footer {
        overflow: hidden;
        position: absolute;
        top: 1342px;
        left: 0px;
        width: 100%;
        height: 371px;
        /* UI Properties */
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }




    .green {
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        justify-self: flex-end;
        align-self: center;

    }

    .head {
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
        opacity: 1;
        text-decoration: underline;
    }

    .contact-us {
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }

    footer a {
        /* UI Properties */
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        text-decoration: none;
    }

 

    .stop {
        grid-area: 1/5/2/6;
        justify-self: center;
        align-self: center;
    }


    .learn-more {
        grid-area: 1/3/2/4;
    }
}

