* {
    margin: 0;
}

body {
    background-color: #354463;
}

.stop-cli {

    width: 100%;
    height: 592px;
    background: transparent url('img/annie-spratt-135307-unsplash.png') 0% 0% no-repeat padding-box;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.76;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    & .quote {
        padding-left: 30px;
        font: normal normal normal 44px/46px Flood Std;
        color: #FFFFFF;
        align-self: flex-start;
    }

    & .issue {
        position: relative;
        width: 312px;
        height: 240px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & .issue-box {
            position: absolute;
            top: -15px;
            left: calc(50% - 80px);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 40px;
            background: #354463 0% 0% no-repeat padding-box;
            font: normal normal normal 14px/17px Helvetica;
            letter-spacing: 0.56px;
            color: #FFFFFF;
            opacity: 1;
        }


        & .cli-change {
            font: normal normal bold 22px/28px Helvetica;
            color: #354463;
            text-align: center;
        }

        & .read-more {
            font-size: 14px;
            font-family: Helvetica;
            text-decoration: underline;
            text-align: center;
        }
    }
}

.take-action {
    position: relative;
    width: 100%;
    height: 328px;
    background: #C1F7D5 0% 0% no-repeat padding-box;

    & .take-action-box {
        position: absolute;
        top: -15px;
        left: calc(50% - 80px);
        width: 160px;
        height: 40px;
        background: #354463 0% 0% no-repeat padding-box;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .take-action-container {
        height: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;

        &>div {
            padding-left: 20px;
        }

        & .head {
            font: normal normal bold 18px/22px Helvetica;
            color: #354463;
        }

        & .content {
            width: 144px;
            height: 62px;
            font: normal normal 300 14px/20px Helvetica;
            letter-spacing: -0.14px;
            color: #354463;
        }
    }
}

.what {
    width: 100%;
    height: 2000px;
    background: #354463 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .what-box {
        width: 160px;
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mission-text {
        padding-left: 20px;
        padding-right: 20px;
        font: normal normal bold 22px/28px Helvetica;
        color: #FFFFFF;
        text-align: center;
    }

    & .boxes {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .mission-boxes {
            position: relative;
            width: 312px;
            height: 415px;
            background: #FFFFFF 0% 0% no-repeat padding-box;

            & .image {
                & img {
                    width: 248px;
                    height: 176px;
                }

                position: absolute;
                width: 248px;
                height: 176px;
                top: -20px;
                left: 35px;
            }

            display: grid;
            grid-template-rows: 2fr 2fr 1fr;
            justify-content: center;
            align-items: center;

            & .contents {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                grid-area: 2/1/3/2;

                & .head {
                    font: normal normal bold 18px/22px Helvetica;
                    color: #354463;
                }

                & .content {
                    font: normal normal 300 14px/20px Helvetica;
                    letter-spacing: -0.14px;
                    color: #354463;
                    text-align: center;
                    padding: 22px 35px 0px 35px;
                }

            }

            & .read-more {
                width: 152px;
                height: 40px;
                background: #C1F7D5 0% 0% no-repeat padding-box;
                font: normal normal bold 16px/20px Helvetica;
                text-decoration: none;
                letter-spacing: 0px;
                color: #354463;
                border-radius: 100px;
                grid-area: 3/1/4/2;
                justify-self: center;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
}


.climate {
    width: 100%;
    height: 1008px;
    background: transparent url('img/did-you-know-background.png') 0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .climate-act {

        & .quote {
            width: 312px;
            height: 192px;
            font: normal normal normal 44px/46px Flood Std;
            color: #FFFFFF;
            padding-top: 64px;
        }

        & .take-action-today {
            width: 152px;
            height: 40px;
            background: #C1F7D5 0% 0% no-repeat padding-box;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            align-self: flex-start;

            & a {
                text-decoration: none;
                font: normal normal bold 16px/20px Helvetica;
                color: #354463;
            }
        }
    }

    & .did-u-know {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;


        & .boxes {
            position: relative;
            width: 312px;
            height: 136px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            justify-content: center;

            .know-box {
                position: absolute;
                top: -20px;
                left: 70px;
                width: 160px;
                height: 40px;
                background: #354463 0% 0% no-repeat padding-box;
                font: normal normal normal 14px/17px Helvetica;
                letter-spacing: 0.56px;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
            }


            & h1 {
                font: normal normal bold 22px/28px Helvetica;
                color: #354463;
                grid-area: 1/1/2/2;
                padding-left: 32px;
                align-self: flex-end;
            }

            & span {
                font-size: 14px;
                font-family: Helvetica;
                letter-spacing: -0.14px;
                width: 198px;
                grid-area: 2/1/3/2;
                padding-left: 32px
            }

            & .logo {
                width: 32px;
                height: 32px;
                background: #C1F7D5 0% 0% no-repeat padding-box;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


.stories {
    width: 100%;
    height: 840px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding-top: 56px;
    display: flex;
    justify-content: center;

    & .lady-container {
        position: relative;
        width: 312px;
        height: 312px;
        background: transparent url('img/lady-baby.png') 100% 100% no-repeat padding-box;
        background-size: cover;

        & .story-box {
            position: absolute;
            width: 160px;
            height: 40px;
            background: #354463 0% 0% no-repeat padding-box;
            font: normal normal normal 14px/17px Helvetica;
            letter-spacing: 0.56px;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -20px;
            left: calc(50% - 80px);
        }

        & .mothers-word {
            position: absolute;
            width: 312px;
            height: 310px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background: #354463 0% 0% no-repeat padding-box;
            top: 352px;


            & p {
                text-align: center;
                font: normal normal bold 22px/28px Helvetica;
                letter-spacing: 0px;
                color: #FFFFFF;
                padding: 32px 32px;
            }

            & span {
                font: normal normal normal 11px/13px Helvetica;
                letter-spacing: 0.44px;
                color: #FFFFFF;
            }
        }

        & a {
            position: absolute;
            width: 156px;
            height: 40px;
            background: #C1F7D5 0% 0% no-repeat padding-box;
            border-radius: 100px;
            text-decoration: none;
            font: normal normal bold 18px/22px Helvetica;
            color: #354463;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 704px;
            left: calc(50% - 80px);
        }
    }
}


.lets-take {
    width: 100%;
    height: 1600px;
    background: #354463 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & .quote {
        font: normal normal normal 44px/46px Flood Std;
        color: #FFFFFF;
        width: 312px;
        height: 186px;
        text-align: center;
    }

    & .boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 313px;
        height: 637px;

        & .image {
            position: relative;
            width: 312px;
            height: 312px;

            img {
                width: 312px;
                height: 312px;
            }

            & .event-box {
                position: absolute;
                width: 160px;
                height: 40px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                font: normal normal normal 14px/17px Helvetica;
                letter-spacing: 0.56px;
                color: #354463;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -20px;
                left: calc(50% - 80px);
            }
        }

        & .what-it-is {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;

            & .head {
                text-align: center;
                font: normal normal bold 22px/28px Helvetica;
                color: #FFFFFF;
            }

            & .content {
                text-align: center;
                font-size: 14px;
                font-family: Helvetica;
                letter-spacing: -0.14px;
                color: #FFFFFF;
            }


            & .read-more {
                width: 152px;
                height: 40px;
                background: #C1F7D5 0% 0% no-repeat padding-box;
                font: normal normal bold 16px/20px Helvetica;
                text-decoration: none;
                letter-spacing: 0px;
                color: #354463;
                border-radius: 100px;
                grid-area: 3/1/4/2;
                justify-self: center;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}




@media (min-width: 768px) {


    .stop-cli {

        top: 200px;
        width: 100%;
        height: 592px;
        background: transparent url('img/annie-spratt-135307-unsplash.png') 0% 0% no-repeat padding-box;
        background-position: 80%;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.76;
        display: flex;
        justify-content: space-around;
        align-items: center;


        & .quote {
            padding-left: 30px;
            font: normal normal normal 44px/46px Flood Std;
            color: #FFFFFF;
            align-self: flex-start;
        }

        & .issue {
            position: relative;
            width: 640px;
            height: 309px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & .issue-box {
                position: absolute;
                top: -20px;
                left: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 156px;
                height: 40px;
                background: #354463 0% 0% no-repeat padding-box;
                font: normal normal normal 14px/17px Helvetica;
                letter-spacing: 0.56px;
                color: #FFFFFF;
                opacity: 1;
            }


            & .cli-change {
                width: 512px;
                height: 138px;
                font: normal normal bold 36px/46px Helvetica;
                color: #354463;
                text-align: left;
            }

            & .read-more {
                font-size: 16px;
                font-family: Helvetica;
                text-decoration: underline;
                text-align: center;
            }
        }
    }

    .take-action {
        position: relative;
        height: 336px;
        width: 100%;
        background: #C1F7D5 0% 0% no-repeat padding-box;

        & .take-action-box {
            position: absolute;
            top: -15px;
            left: calc(50% - 80px);
            width: 160px;
            height: 40px;
            background: #354463 0% 0% no-repeat padding-box;
            font: normal normal normal 14px/17px Helvetica;
            letter-spacing: 0.56px;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .take-action-container {
            grid-gap: 60px;


            &>div {
                padding-left: 64px;
                padding-right: 64px;
            }

            & .head {
                font: normal normal bold 22px/28px Helvetica;
                color: #354463;
            }

            & .content {
                width: 200px;
                height: 52px;
                font: normal normal 300 16px/24px Helvetica;
                letter-spacing: -0.16px;
                color: #354463;
            }
        }
    }

    .what {
        width: 100%;
        height: 1400px;
        background: #354463 0% 0% no-repeat padding-box;

        & .box-div {
            padding-left: 64px;
            align-self: flex-start;

            & .what-box {
                width: 160px;
                height: 40px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
            }
        }

        .mission-text {
            padding-left: 64px;
            padding-right: 64px;
            font: normal normal bold 36px/46px Helvetica;
            color: #FFFFFF;
            text-align: left;
        }

        & .boxes {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .mission-boxes {
                position: relative;
                width: 640px;
                height: 280px;
                background: #FFFFFF 0% 0% no-repeat padding-box;

                & .image {
                    & img {
                        width: 288px;
                        height: 201px;
                    }

                    position: absolute;
                    width: 248px;
                    height: 176px;
                    top: -20px;
                    left: 35px;
                }

                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                align-items: center;

                & .contents {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    grid-area: 1/2/3/3;
                    justify-self: center;

                    & .head {
                        font: normal normal bold 22px/28px Helvetica;
                        color: #354463;
                    }

                    & .content {
                        font: normal normal 300 16px/24px Helvetica;
                        letter-spacing: -0.14px;
                        color: #354463;
                        text-align: left;
                        padding: 22px 35px 0px 35px;
                    }

                }

                & .read-more {
                    width: 152px;
                    height: 40px;
                    background: #C1F7D5 0% 0% no-repeat padding-box;
                    font: normal normal bold 16px/20px Helvetica;
                    text-decoration: none;
                    letter-spacing: 0px;
                    color: #354463;
                    border-radius: 100px;
                    grid-area: 2/1/3/2;
                    justify-self: flex-end;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
        }
    }

    .climate {
        height: 833px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        & .climate-act {
            align-self: flex-start;

            & .quote {
                width: 193px;
                height: 228px;
                padding-top: 64px;
            }

            & .take-action-today {
                width: 152px;
                height: 40px;
                background: #C1F7D5 0% 0% no-repeat padding-box;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                align-self: flex-start;

                & a {
                    text-decoration: none;
                    font: normal normal bold 16px/20px Helvetica;
                    color: #354463;
                }
            }
        }

        & .did-u-know {

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;


            & .boxes {
                position: relative;
                width: 384px;
                height: 152px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                display: grid;
                grid-template-columns: 4fr 1fr;
                grid-template-rows: 1fr 1fr;
                align-items: center;
                justify-content: center;

                .know-box {
                    position: absolute;
                    top: -20px;
                    left: 50px;
                    width: 160px;
                    height: 40px;
                    background: #354463 0% 0% no-repeat padding-box;
                    font: normal normal normal 14px/17px Helvetica;
                    letter-spacing: 0.56px;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }


                & h1 {
                    font: normal normal bold 36px/46px Helvetica;
                    color: #354463;
                    grid-area: 1/1/2/2;
                    padding-left: 32px;
                    align-self: flex-end;
                }

                & span {
                    font-size: 16px;
                    font-family: Helvetica;
                    letter-spacing: -0.16px;
                    width: 198px;
                    grid-area: 2/1/3/2;
                    padding-left: 32px
                }

            }
        }
    }

    .stories {
        height: 999px;
        padding-top: 56px;


        & .lady-container {
            width: 576px;
            height: 568px;

            & .story-box {
                width: 160px;
                height: 40px;
                font: normal normal normal 14px/17px Helvetica;
                letter-spacing: 0.56px;
                top: -20px;
                left: 50px;
            }

            & .mothers-word {
                width: 576px;
                height: 287px;
                top: 500px;
                left: 70px;

                & p {
                    text-align: left;
                    font: normal normal bold 22px/28px Helvetica;
                }

                & span {
                    font: normal normal normal 14px/17px Helvetica;
                    letter-spacing: 0.56px;
                }
            }

            & a {
                top: 850px;
                left: 65px;
            }
        }
    }


    .lets-take {
        height: 1225px;

        & .quote {
            width: 518px;
            height: 90px;
            text-align: left;
        }

        & .boxes {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            width: 700px;
            height: 400px;

            & .image {
                width: 312px;
                height: 312px;

                img {
                    width: 312px;
                    height: 312px;
                }

                & .event-box {
                    top: -70px;
                    left: 380px;
                }
            }

            & .what-it-is {
                width: 250px;
                justify-content: space-around;

                & .head {
                    text-align: left;
                    font: normal normal bold 22px/28px Helvetica;
                }

                & .content {
                    text-align: left;
                    font-size: 16px;
                    letter-spacing: -0.16px;
                }


                & .read-more {
                    align-self: flex-start;

                }
            }
        }

        & #latest {
            flex-direction: row-reverse;

            & .event-box {
                left: -320px;
            }
        }
    }

    
}




@media (min-width: 992px) {



    .stop-cli {
        width: 100%;
        height: 672px;
        background: transparent url('img/annie-spratt-135307-unsplash.png') 0% 0% no-repeat padding-box;
        background-position: 80%;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.76;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;


        & .quote {
            padding-left: 30px;
            font: normal normal normal 72px/72px Flood Std;
            color: #FFFFFF;
            align-self: center;
        }

        & .issue {
            position: relative;
            width: 544px;
            height: 416px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & .issue-box {
                position: absolute;
                top: -20px;
                left: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 156px;
                height: 40px;
                background: #354463 0% 0% no-repeat padding-box;
                font: normal normal normal 14px/17px Helvetica;
                letter-spacing: 0.56px;
                color: #FFFFFF;
                opacity: 1;
            }


            & .cli-change {
                width: 416px;
                height: 221px;
                font: normal normal bold 44px/56px Helvetica;
                text-align: left;
            }

            & .read-more {
                font-size: 16px;
                font-family: Helvetica;
                text-decoration: underline;
                text-align: center;
            }
        }
    }

    .take-action {
        position: relative;
        height: 240px;


        & .take-action-box {
            position: absolute;
            top: -15px;
            left: calc(50% - 80px);
            width: 160px;
            height: 40px;
            background: #354463 0% 0% no-repeat padding-box;
            font: normal normal normal 14px/17px Helvetica;
            letter-spacing: 0.56px;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .take-action-container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 0px;


            &>div {
                padding-left: 64px;
                padding-right: 64px;
            }

            & .head {
                font: normal normal bold 28px/36px Helvetica;
            }

            & .content {
                width: 200px;
                font: normal normal 300 16px/24px Helvetica;

            }
        }
    }

    .what {
        height: 1000px;
        flex-direction: column;
        justify-content: space-around;

        & .box-div {
            padding-left: 160px;
            align-self: flex-start;

            & .what-box {
                width: 160px;
                height: 40px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
            }
        }

        & .mission-text {
            padding-left: 160px;
            font: normal normal bold 44px/56px Helvetica;
            color: #FFFFFF;
            text-align: left;
            align-self: flex-start;
        }

        & .boxes {
            height: 70%;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .mission-boxes {
                width: 320px;
                height: 528px;

                & .image {
                    position: absolute;
                    width: 320px;
                    height: 224px;
                    top: -20px;
                    left: 35px;

                    & img {
                        width: 320px;
                        height: 224px;
                    }


                }

                display: grid;
                grid-template-rows: 2fr 2fr 1fr;
                grid-template-columns: 1fr;
                justify-content: center;
                align-items: center;

                & .contents {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    grid-area: 2/1/3/2;


                    & .head {
                        padding-left: 32px;
                        font: normal normal bold 28px/36px Helvetica;
                    }

                    & .content {
                        font: normal normal 300 16px/24px Helvetica;
                        letter-spacing: -0.16px;
                        color: #354463;
                        text-align: left;

                    }

                }

                & .read-more {
                    width: 152px;
                    height: 40px;
                    background: #C1F7D5 0% 0% no-repeat padding-box;
                    font: normal normal bold 16px/20px Helvetica;
                    text-decoration: none;
                    letter-spacing: 0px;
                    color: #354463;
                    border-radius: 100px;
                    grid-area: 3/1/4/2;
                    justify-self: center;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
        }

    }

    .climate {
        background-size: cover;
        background-position: 100%;
        height: 1279px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        & .climate-act {

            align-self: flex-start;

            & .quote {
                width: 437px;
                height: 300px;
                font: normal normal normal 72px/72px Flood Std;

                padding-top: 64px;
            }

            & .take-action-today {
                width: 152px;
                height: 40px;
                background: #C1F7D5 0% 0% no-repeat padding-box;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                align-self: flex-start;

                & a {
                    text-decoration: none;
                    font: normal normal bold 16px/20px Helvetica;
                    color: #354463;
                }
            }
        }

        & .did-u-know {

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;


            & .boxes {
                width: 544px;
                height: 232px;
                display: grid;
                grid-template-columns: 4fr 1fr;
                grid-template-rows: 1fr 1fr;
                align-items: center;
                justify-content: center;

                .know-box {
                    position: absolute;
                    top: -20px;
                    left: 50px;
                    width: 160px;
                    height: 40px;
                    background: #354463 0% 0% no-repeat padding-box;
                    font: normal normal normal 14px/17px Helvetica;
                    letter-spacing: 0.56px;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }


                & h1 {
                    font: normal normal bold 44px/56px Helvetica;
                    color: #354463;
                    grid-area: 1/1/2/2;
                    padding-left: 32px;
                    align-self: flex-end;
                }

                & span {
                    font-size: 20px;
                    font-family: Helvetica;
                    letter-spacing: -0.16px;
                    width: 336px;
                    height: 68px;
                    grid-area: 2/1/3/2;
                    padding-left: 32px
                }
            }
        }
    }

    .stories {
        height: 824px;
        padding-top: 128px;
        /* justify-content: flex-end; */

        & .lady-container {
            /* align-self: flex-end; */
            width: 640px;
            height: 568px;

            & .story-box {
                width: 160px;
                height: 40px;
                font: normal normal normal 14px/17px Helvetica;
                letter-spacing: 0.56px;
                top: -20px;
                left: 50px;
            }

            & .mothers-word {
                width: 544px;
                height: 344px;
                top: calc(50% - 172px);
                left: -400px;

                & p {
                    text-align: left;
                    font: normal normal bold 28px/36px Helvetica;
                }

                & span {
                    font: normal normal normal 14px/17px Helvetica;
                    letter-spacing: 0.56px;
                }
            }

            & a {
                top: 480px;
                left: -250px;
            }
        }
    }


    .lets-take {

        height: 1726px;


        & .quote {
            width: 847px;
            height: 148px;
            text-align: left;
            font: normal normal normal 72px/76px Flood Std;

        }

        & .boxes {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 1120px;
            height: 576px;

            & .image {
                width: 576px;
                height: 576px;

                img {
                    width: 576px;
                    height: 576px;
                }

                & .event-box {
                    top: -70px;
                    left: 650px;
                }
            }

            & .what-it-is {
                width: 400px;
                justify-content: space-around;

                & .head {
                    text-align: left;
                    font: normal normal bold 44px/56px Helvetica;
                }

                & .content {
                    text-align: left;
                    font: normal normal 300 20px/32px Helvetica;

                }


                & .read-more {
                    align-self: flex-start;

                }
            }
        }

        & #latest {
            flex-direction: row-reverse;

            & .event-box {
                left: -470px;
            }
        }
    }

}