.common-header {
    width: 100%;
    height: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    & span {
        padding-left: 20px;
        font: normal normal bold 18px/22px Helvetica;
        color: #354463;
    }

    & nav {
        padding-left: 20px;
        display: flex;
        flex-direction: column;

        & a {
            text-decoration: none;
            font: normal normal 300 14px/20px Helvetica;
            letter-spacing: -0.14px;
            color: #354463;
        }
    }

    & .don-button {

        width: 312px;
        height: 40px;
        text-decoration: none;
        text-align: center;
        padding-top: 15px;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        grid-area: 2/1/3/3;
        justify-self: center;
    }
}

.subscribe {
    width: 100%;
    height: 216px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;

    & .spam {
        font: normal normal bold 22px Helvetica;
        color: #354463;
        grid-area: 1/1/2/3;
        justify-self: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    & input {
        width: 192px;
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 100px;


        &::placeholder {
            text-align: center;
            font: normal normal 300 14px/24px Helvetica;
            letter-spacing: -0.14px;
            color: #354463;
            opacity: 100%;
        }
    }

    & button {
        width: 112px;
        height: 40px;
        background: #354463 0% 0% no-repeat padding-box;
        border-radius: 100px;
        font: normal normal bold 16px/19px Helvetica;
        color: #C1F7D5;
    }

}

footer {
    overflow: hidden;
    width: 100%;
    height: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    & div {
        padding-left: 20px;
        padding-top: 20px;
    }

    & .green {
        padding-top: 20px;
        padding-left: 20px;

        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    & .head {
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        opacity: 1;
    }


    & .contact-us {
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }

    & a {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }

    & .stop {

        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        grid-area: 3/2;
    }

}



@media (min-width: 768px) {

    .common-header {
        width: 100%;
        height: 128px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        & span {
            padding-left: 20px;
            font: normal normal bold 22px/28px Helvetica;
            color: #354463;
        }

        & nav {
            padding-left: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            grid-area: 2/1/3/2;

            & a {
                text-decoration: none;
                font: normal normal 300 16px/24px Helvetica;
                letter-spacing: -0.16px;
                color: #354463;
            }
        }

        & .don-button {

            width: 140px;
            height: 48px;
            text-decoration: none;
            text-align: center;
            padding-top: 15px;
            font: normal normal bold 18px/22px Helvetica;
            letter-spacing: 0px;
            color: #354463;
            background: #C1F7D5 0% 0% no-repeat padding-box;
            border-radius: 100px;
            grid-area: 1/2/3/3;
            justify-self: center;
        }
    }

    .subscribe {
        height: 255px;

        & .spam {
            padding-left: 40px;
            font: normal normal bold 22px Helvetica;
            color: #354463;
            grid-area: 1/1/2/2;
        }

        & input {
            width: 448px;
            height: 40px;
            grid-area: 2/1/3/2;
        }

        & button {
            width: 160px;
            grid-area: 2/2/3/3;
        }
    }

    
    footer {
        height: 432px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        & div {
            padding-left: 20px;
            padding-top: 20px;
        }

        & .stop {

            grid-area: 2/3/3/3;
            justify-self: start;
            align-self: start;
        }


        & .learn-more {
            grid-area: 2/2;
        }
    }

   

}

@media (min-width: 992px) {
    .common-header {
        height: 128px;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 3fr 1fr;
        align-items: center;

        & span {
            padding-left: 20px;
            font: normal normal bold 22px/28px Helvetica;
            color: #354463;
        }

        & nav {
            grid-area: 1/2/2/3;
        }

        & .don-button {

            width: 160px;
            height: 48px;
            grid-area: 1/3/2/4;
        }
    }

    .subscribe {
        height: 208px;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 2fr 1fr;

        & .spam {
            padding-left: 40px;
            font: normal normal bold 22px Helvetica;
            color: #354463;
            grid-area: 1/1/2/2;
        }

        & input {
            width: 448px;
            height: 40px;
            grid-area: 1/2/2/3;
        }

        & button {
            width: 160px;
            grid-area: 1/3/2/4;
        }
    }

    
    footer {
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;

        & .green {
            width: 192px;
            height: 81px;
            font: normal normal bold 22px/28px Helvetica;
            justify-self: flex-end;
            align-self: center;
        }

        & .head {
            text-align: left;
            font: normal normal normal 14px/17px Helvetica;
            letter-spacing: 0.56px;
            text-decoration: underline;
            justify-self: center;
            al
        }

        & .contact-us {
            text-align: left;
            font: normal normal 300 14px/20px Helvetica;
            letter-spacing: -0.14px;
            color: #354463;
            opacity: 1;
        }


        & footer a {
            text-align: left;
            font: normal normal 300 14px/24px Helvetica;
            letter-spacing: -0.14px;
            color: #354463;
            text-decoration: none;
        }

        & .stop {
            grid-area: 1/5/2/6;
            justify-self: center;
            align-self: center;
        }



        & .learn-more {
            grid-area: 1/3/2/4;
        }
    }
}